{% extends "base.html" %}

{% block title %}Login - Kitty Alert{% endblock %}

{% block content %}
	<h1>😻 Kitty Alert</h1>
	<form method="post">
		{% csrf_token %}
		{% if form.errors %}
			<ul>
				{% for error in form.non_field_errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div>
			<label for="id_username">Username:</label>
			{{ form.username }}
		</div>
		<div>
			<label for="id_password">Password:</label>
			{{ form.password }}
		</div>
		<button type="submit">Login</button>
	</form>
{% endblock %}
